<div class="row">
<p>
  <div class="col-md-12"><strong>Name:</strong>
  <%= comment.commenter %></div>
</p>
 
<p>
  <div class="col-md-12"><strong>Comment:</strong>
  <%= comment.body %></div>
</p>

<p>
  <%= link_to 'Destroy Comment', [comment.product, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>